<?xml version="1.0" encoding="utf-8" ?> 
feed(xmlns="http://www.w3.org/2005/Atom")
  title #indiewebcamp
  link(href="http://indiewebcamp.com/irc/today")/
  link(type="application/atom+xml" rel="self" href="http://iwc-log-feed.herokuapp.com/atom.xml")/
  //link(href="https://pubsubhubbub.superfeedr.com" rel="hub")/
  id urn:uuid:54e074e0-aefa-11e3-a5e2-0800200c9a66
  updated #{log.updated.format()}
  author
    name IndieWebCamp
    uri http://indiewebcamp.com
  logo http://indiewebcamp.com/wiki/skins/indieweb/indiewebcamp-logo-500px.png
  subtitle IRC logs from #indiewebcamp on Freenode

  entry
    id #{log.url}
    link(href=log.url)/
    title #indiewebcamp #{log.updated.format('YYYY-MM-DD')}
    content(type="html")
      != log.encoded
