div(class="logs")
  p hello world
  each entry in log.items
    p(class="h-entry")
      time(class="dt-published" datetime=entry.properties.published)
        a(href=entry.properties.url[0] class='u-url')= (new Date(entry.properties.published)).toLocaleTimeString("en-US")
      != entry.properties.content[0].html