div(class="logs")
  each entry in log.items
    if entry.properties.author
      p(class="h-entry")
        span
          time(class="dt-published" datetime=entry.properties.published[0].format())
            a(href=entry.properties.url[0] class='u-url')
              = entry.properties.published[0].format('HH:mm')
          = ' '
          span(class="p-author h-card") 
            if entry.properties.author[0].properties.url
              = '<'
              a(href=entry.properties.author[0].properties.url class="p-nickname p-name u-url")
                = entry.properties.author[0].value
              = '>'
            else
              = '<'
              span(class="p-nickname p-name")
                = entry.properties.author[0].value
              = '>'
            = ' '
          span
          != entry.properties.content[0].html