extends layout

block content
  h1= title
  p.
    Current Status: In development
  p.
   This atom feed tracks the <a href='http://indiewebcamp.com/IRC'>IndieWebCamp Irc logs</a>.  
   Subscribing will allow you to have yesterdays IRC log delivered to your news feed everyday.

  p.
    Alternativly, a running log can be found here: 
    <a href='http://indiewebcamp.com/irc/today'>indiewebcamp.com/irc/today</a>