doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml")
    meta(charset="utf-8")
  body
    block content